<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255177406898-3crg5drvvtgs17bt7avorhbgetd6mm88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255177406898-3crg5drvvtgs17bt7avorhbgetd6mm88</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ob4qjM3hAJ2QUUlWqZowRExhuKS4IZc</string>
	<key>GCM_SENDER_ID</key>
	<string>255177406898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LeeHyunHo.LogIn-fc</string>
	<key>PROJECT_ID</key>
	<string>loginfc-f1322</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfc-f1322.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255177406898:ios:b7a3e8fb02771aa23a8cab</string>
</dict>
</plist>